# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*

# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.project
.pydevproject
.settings/
*.sublime-workspace

# Logs
logs/
*.log
lerna-debug.log*

# Runtime
tmp/
temp/
.cache/

# Mobile build outputs
android/
ios/
.gradle
build/
local.properties
*.keystore
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*

# EAS Build
.eas/

# Testing
coverage/
.nyc_output/

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
